@-webkit-keyframes float {
  0% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  50% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); }
  100% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); } }
@keyframes float {
  0% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  50% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); }
  100% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); } }
html {
  font-family: 'Palanquin Dark', sans-serif;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: #F4E1DF;
  padding: 1em; }

a {
  text-decoration: none;
  color: #124e82; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.5em;
  margin: 0.2em auto; }

h3 {
  margin: 0 auto;
  font-size: 2em; }

form {
  width: 20em; }

/*Generic Flex classes*/
.flexColumn {
  display: flex;
  flex-direction: column; }

.flexRow {
  display: flex; }

.toggleBtn {
  width: 135px; }

/*temporary boxes for flex */
.temp1 {
  border: 1px solid black;
  background-color: #6751A5; }

.temp2 {
  border: 1px solid black;
  background-color: #E3A49C; }

.temp3 {
  border: 1px solid black;
  background-color: #56CE64; }

.temp4 {
  border: 1px solid black;
  background-color: #FFE408; }

/*form*/
.elemForm {
  margin: 0 auto; }
  @media only screen and (max-width: 399px) {
    .elemForm {
      background: purple; } }

.bondFormRow {
  display: flex; }
  @media only screen and (max-width: 399px) {
    .bondFormRow {
      display: flex;
      flex-direction: column; } }

.chemBond {
  background: black; }

/*periodic table*/
.element {
  align-items: center;
  background-color: #fff;
  border: 2px solid black;
  font-family: 'Oswald', sans-serif;
  height: 200px;
  margin: 2em auto;
  width: 200px; }

.atomicSymbol {
  font-size: 40px;
  margin: 0; }

.elemStack {
  display: flex;
  flex-wrap: wrap; }

.box {
  position: relative;
  -webkit-animation: 10s alternate 1s infinite float;
  animation: 10s alternate 1s infinite float;
  margin: auto;
  display: block;
  margin-top: 8%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #0A2463; }

.oxygen {
  position: absolute;
  top: 26.5%;
  left: 40%;
  width: 30%;
  height: 30%;
  background: #B41327;
  border-radius: 50%; }

.oxygen-copy {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #B41327;
  border-radius: 50%;
  z-index: 3; }

.hydrogen-left {
  position: absolute;
  top: 50%;
  left: 30%;
  width: 20%;
  height: 20%;
  background: #E4E7E8;
  border-radius: 50%;
  z-index: 3; }

.bond-1 {
  position: absolute;
  width: 30%;
  height: 15%;
  left: 10%;
  top: 75%;
  background: #C0C0C0;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
  z-index: 3; }

.bond-curve-1 {
  position: absolute;
  width: 20%;
  height: 100%;
  right: -12%;
  top: 0%;
  border-radius: 0% 100% 100% 0% / 59% 100% 100% 0%;
  background: #c0c0c0;
  z-index: 1; }

.bond-2 {
  position: absolute;
  width: 25%;
  height: 15%;
  right: 5%;
  top: 75%;
  background: #C0C0C0;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
  z-index: 2; }

.bond-curve-2 {
  position: absolute;
  width: 20%;
  height: 100%;
  right: -12%;
  top: 0%;
  border-radius: 0% 100% 100% 0% / 59% 100% 100% 0%;
  background: #c0c0c0;
  z-index: 1; }

.hydrogen-right {
  position: absolute;
  top: 50%;
  right: 20%;
  width: 18%;
  height: 18%;
  background: #E4E7E8;
  border-radius: 50%;
  z-index: 1; }

/*# sourceMappingURL=style.css.map */
